[Desktop Entry]
Name=AllAuth
Comment=AllAuth Login Manager
Exec=/usr/bin/allauth
#Icon=/usr/share/pixmaps/my_icon.png
#Terminal=true
Type=Application
Categories=Office
