[Desktop Entry]
Name=AllAuth
Comment=AllAuth Login Manager
Exec=/usr/bin/allauth
Icon=/usr/share/pixmaps/allauth_96px.png
#Terminal=true
Type=Application
Categories=Office
