<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppDatabaseConnString" connectionString="Data Source={AppDir}_database.sqlite3" providerName="System.Data.SqLite" />
  </connectionStrings>
  <appSettings>
    <add key="AccountDatabasePath" value="{AppDir}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Base32" publicKeyToken="3427d4dc8cee30c6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.2" newVersion="1.1.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
